
<style>
    input {
        margin-bottom: 10px;
    }
</style>

<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12 my-2">
                    <input class="form-control" placeholder="Product Name" type="text" asp-for="Title" />
                </div>
                <div class="col-lg-4 my-2">
                    <input class="form-control" placeholder="Price" type="text" asp-for="Author" />
                </div>
                 <div class="col-lg-4 my-2">
                    <input class="form-control" placeholder="Quantity" type="text" name="" />
                </div>
                <div class="col-lg-4 my-2">
                    <input class="form-control" placeholder="Quantity" type="text" name="Quantity" />
                </div>
                <div class="col-lg-4 my-2">
                    <input class="form-control" placeholder="Discound" type="text" name="Discound" />
                </div>
                <div class="col-lg-12 my-2">
                    <textarea id="editor" class="form-control" placeholder="Product Name" type="text" name="Description"> </textarea>
                </div>
                <div class="col-lg-4 my-2">
                    <span>PhotoUrl</span>
                    <input class="form-control" type="file"  name="NewPhotoURL" />
                </div>
               
                
                <div class="col-lg-4 my-2">
                    <select  class="form-control" name="Categories">
                        @*@foreach (var category in ViewData["Categories"] as List<Category>)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }*@

                    </select>
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-outline-success mt4" />
        </form>
    </div>
</div>


@section Scripts {
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>

}