<div class="container">
    <div class="row">
        <div class="col-12 m-auto">
            <form method="post">
                <div class="card mt-5">
                    <div class="card-header">
                        Position
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="positionName">Position name</label>
                            <input type="text" name="Name" class="form-control" placeholder="Enter position name" id="positionName" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-success" value="Create" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>