@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <div class="margin">
                        <a style="width:100px; color:#fff;" asp-area="Dashboard" asp-controller="Role" asp-action="Create" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Create</span>
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Role name</th>
                                <th style="width: 40px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>@count.</td>
                                    <td>@role.Name</td>
                                    <td>
                                        <a role-value="@(Convert.ToString(@role.Id))" class="btn btn-action btnSave btn-outline-danger delete-btn">Delete</a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.card -->


        </div>
    </div>
</div>


@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        $(".btnSave").click(function (e) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    let roleId = e.currentTarget.attributes[0].value
                    $.ajax({
                        method: "POST",
                        url: "role/delete/",
                        data: {
                            id: roleId
                        }
                    })
                    Swal.fire({
                        title: 'Deleted',
                        text: "role is delete!",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "role"
                    })

                }
            })
        })
    </script>
}
